* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.header {
  display: flex;
  justify-content: space-between;
}
/*logo*/
.logo-container {
  margin-top: 25px;
  margin-left: 25px;
  width: 400px;
}
.logo-container img {
  cursor: pointer;
  width: 40%;
}
/*navigation bars/top right*/
.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.navigation {
  display: flex;
}
.navigation li {
  display: inline-block;
  padding: 5px 20px;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  cursor: pointer;
}
/*navigation bar hoverstate*/
ul li a:hover {
  background-color: #11586a;
  color: #fff;
}
/*PICSJURES*/
.gallery-section {
  width: 100%;
  padding: 60px 0;
}

.inner-width {
  width: 90%;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1 {
  text-align: center;
  text-transform: uppercase;
}

.border {
  width: 180px;
  height: 4px;
  margin: 20px auto;
  text-align: center;
}

.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img {
  transform: scale(1.4);
}
/*education page spesific*/
.border_education{
  width: 600px;
  height: 20px;
  margin: 133px auto;
  text-align: center;
}


@media screen and (max-width:1270px) {
  .gallery-section .image {
    flex: 33%;
  }
}

@media screen and (max-width:900px) {
  .gallery-section .image {
    flex: 50%;
  }
}

@media screen and (max-width:600px) {
  .gallery-section .image {
    flex: 100%;
  }
}

/*  PICTURE TEXT OVERLAY  https://www.youtube.com/watch?v=exb2ab72Xhs&ab_channel=dcode*/




/*footertest*/
.footer {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px 0px;
  box-sizing: border-box;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner_footer .footer_logo_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inner_footer .footer_logo_container img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.inner_footer .footer_logo_container img:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}

/*BIGTESTFOR OPENING OGOGOG*/
.opening_section{
  width: 100%;
  padding: 60px 0;
  display: flex;
}

.opening_width{
  width: 100%;
  margin: auto;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}



/*contact FORM*/
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  font-size: 24px;
}
.contact-form input {
  margin: 0 0 10px 0;
  padding: 18px;
}
.contact-form textarea {
  margin: 10px 0 0 0;
  padding: 18px;
}
.contact-form button {
  margin: 10px 0 0 0;
  padding: 5px;
}