.left-side{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.right-side{
    display: flex;
}

.nav-wrapper > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
}