* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
/*homepage background image*/
.homepage {
  background-image: url(images/background1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
}
/*logo*/
.logo-container {
  margin-top: 25px;
  margin-left: 25px;
  width: 500px;
}

.logo-container img {
  cursor: pointer;
  width: 40%;
}
/*navigation bars/top right*/
.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navigation {
    display: flex;
}
.navigation li {
  display: inline-block;
  padding: 5px 20px;
}
/*navigation bar hoverstate*/
ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  cursor: pointer;
}

ul li a:hover {
  background-color: #11586a;
  color: #fff;
}

.navigation input[type=text] {
    padding-top: 8px;
    float: right;
    width: 150px;
    border: none;
    font-size: 20px;
    background-color: #fff;
  }
/*HOMEPAGE SPECIFIC*/
/*center of website quote/buttons*/
.button-section{
    display: flex;
    justify-content: center;
}
.homepage-quote {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 300px;
}
/*WEBSITE BUTTON*/
.m-collection {
  border-radius: 10px;
  border: 1px solid transparent;
  color: #000000;
  text-decoration: none;
  transition: 0.6s ease;
  cursor: pointer;
  font-size: 20px;
  height: 80px;
  width: 300px;
  margin: 30px 0px 0px 30px;
  box-shadow: 3px 3px 3px black;
}
.w-collection {
    border-radius: 10px;
  border: 1px solid transparent;
  color: #000000;
  text-decoration: none;
  transition: 0.6s ease;
  cursor: pointer;
  font-size: 20px;
  height: 80px;
  width: 300px;
  margin: 30px 0px 0px 30px;
  box-shadow: 3px 3px 3px black;
}
/*center of website button hover*/
.w-collection:hover {
  background-color: #11586a;
  color: #fff;
}

.m-collection:hover {
    background-color: #11586a;
    color: #fff;
  }
/*END OF HOMEPAGE SPECIFIC*/
body {
  background: #fff;
}
/*COLLECTION SPECIFIC*/
/*TITLE COLLECTION*/
.container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 300px;
}
/*IMAGES*/
.image-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.products {
  display: block;
  margin: 15px;
  width: -1000px;
  align-items: center;
}

.products img {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
}
/*NAME OF SPECIFIC JACKETS*/
.desc {
  margin-top: 5px;
  background: #11586a;
  text-align: center;
  font-size: 24px;
  color: white;
}

.overlay-container {
  position: relative;
}

/*OVERLAY IMAGES/COLLECTIONS*/
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ece2e2a3;
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
}

.overlay-container:hover .overlay {
    opacity: 1;
}
/*BUTTONS INSIDE IMAGE*/
.size-button {
  display: inline-block;
  padding: 10px;
  margin: 5px 10px;
  border: 5px solid rgb(66, 67, 75);
  align-self: top;
  height: 30px;
  width: 70px;
  font-size: 22px;
  font-weight: bold;
  color: gray;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
}
/*BUTTONS INSIDE IMAGE ON HOVER*/
.size-button:hover {
    background-color: rgb(66, 67, 75);
}

.size-button a {
  text-decoration: none;
  color: whitesmoke;
}
/*FOOTER BOTTOM OF PAGE*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  background-color: rgb(216, 207, 207);
}

.fbicon {
  margin: 10px 10px 10px 10px;
}

.igicon {
  margin: 10px 10px 10px 10px;
}

.twicon {
  margin: 10px 10px 10px 10px;
}
/*ICONS ON HOVER*/
.fbicon:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}

.igicon:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}

.twicon:hover {
  transform: scale(1.2);
  opacity: 0.5;
  cursor: pointer;
}
/*ABOUT PAGE*/
.about-div {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 300px;
}

.about-section {
  margin-bottom: 150px;
}

.writing-container {
  display: flex;
  justify-content: center;
}

.writing {
  width: 600px;
  text-align: justify;
}
/*purchase1*/
.methods {
  display: flex;
  }
  
.add-to-cart {
  border-radius: 10px;
  border: 1px solid transparent;
  color: #000000;
  font-size: 20px;
  height: 65px;
  width: 250px;
  margin: 15px 0px 0px 30px;
  display: inline-block;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #11586a;
  color: #fff;
}

.methods .jacket-information {
  position: absolute;
  top: 50%;
  left: 50%;
}
/*MY ITEMS*/
.my-items-div {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 300px;
}

.my-items-title {
  font-size: 44px;
}

.my-items-container {
  display: flex;
  justify-content: center;
  height: 500px;
  flex-direction: column;
}

.my-items-writing {
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  font-size: 28px;
  background: rgb(216, 207, 207)
}

.my-items-button {
  display: flex;
  justify-content: center;
  font-size: 28px;
  background: rgb(216, 207, 207)
}

.my-items-button:hover {
  background: rgb(194, 24, 24)
}

/*TESTTEST*/
